<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>183707704600-vrn9gi72iahcc7lb9vid2bnsean55420.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.183707704600-vrn9gi72iahcc7lb9vid2bnsean55420</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>183707704600-d1sr9adas6cfojj05a1ukasjics67n27.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCPJRZ-iYcNY5HyndBpOeFQoSfGVyMre3E</string>
	<key>GCM_SENDER_ID</key>
	<string>183707704600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spunky.Stylon</string>
	<key>PROJECT_ID</key>
	<string>stylon-c0cc3</string>
	<key>STORAGE_BUCKET</key>
	<string>stylon-c0cc3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183707704600:ios:eb0ff331fff07d0638126d</string>
	<key>DATABASE_URL</key>
	<string>https://stylon-c0cc3.firebaseio.com</string>
</dict>
</plist>